# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
env/
*.venv
*.virtualenv
.venv/
poetry.lock

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo
*~

# Operating systems
.DS_Store
Thumbs.db

# Logs and databases
*.log


# Testing
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Environment variables
.env

# Project-specific
*.csv
*.json
zipcode_data/

# Dependency management
pip-lock.txt
